body {
    font-family: monospace;
    background-color: tomato;
}

button {
    width: 10rem;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    
}

button:hover {
  cursor: pointer;
}

img {
    width: 15rem;
    &:active {
        animation: vibrate 0.05s infinite;
      }
}

@keyframes vibrate {
    50% { transform: rotate(1deg) translateX(3px); }
    100% { transform: rotate(-1deg) translateX(-3px); }
  }


  img:hover {
    cursor: pointer;
  }